.album-page-container {
    position: relative;
    background: $second-color;
    color: $main-color;

    .album-header {
        margin-left: 20%;
        padding-top: 20vh;
        width: 30%;
        display: flex;
        align-items: flex-end;
        
        .close-button-container {
            border-radius: 20px;
            border: 2px solid $main-color;
            display: grid;
            place-items: center;
            height: 2rem;
            transition: 0.4s;
            
            p {
                font-weight: bold;
                font-family: $main-font;
                margin: 0;
                padding: 0.5rem 2rem;
                text-align: center;
            }
        
            &:hover {
                cursor: pointer;
                color: $second-color;
                background: linear-gradient(to right, transparent 50%, $main-color 50%);
                background-size: 250% 100%;
                background-position: right bottom;
                transition: all .6s ease-out;
            }
        }
    }

    .album-title {
        font-size: 5rem;
        margin-left: 20%;
        margin-top: 4rem;
        margin-bottom: 0;
        font-family: $main-font;
    }

    .album-info {
        margin-left: 20%;
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    .album-content-container {
        padding-top: 5%;
        margin-left: 20%;
        padding-bottom: 5vh;

        .miraflores-img-1 {
            height: 60vh;
            margin-bottom: 0;
        }

        p {
            font-size: 2.5rem;
            margin-top: 8%;
            font-family: $main-font;
            width: 50%;
            margin-left: 5%;
        }
    }
}