.album-page-container {
    background: $second-color;
    color: $main-color;

    .album-header {
        margin-left: 20%;
        padding-top: 20vh;
        width: 30%;
        display: flex;
        align-items: flex-end;

        @media (max-width: 850px) {
            padding-top: 12vh;
            margin-left: 5%;
        }

        
        .close-button-container {
            border-radius: 20px;
            border: 2px solid $main-color;
            display: grid;
            place-items: center;
            height: 2rem;
            transition: 0.4s;
            
            p {
                font-weight: bold;
                font-family: $main-font;
                margin: 0;
                padding: 0.5rem 2rem;
                text-align: center;
            }
        
            &:hover {
                cursor: pointer;
                color: $second-color;
                background: linear-gradient(to right, transparent 50%, $main-color 50%);
                background-size: 250% 100%;
                background-position: right bottom;
                transition: all .6s ease-out;
            }
        }
    }

    .album-title {
        font-size: 5rem;
        margin-left: 20%;
        margin-top: 4rem;
        margin-bottom: 0;
        font-family: $main-font;

        @media (max-width: 850px) {
            font-size: 3rem;
            margin-left: 5%;
            width: 90%;
        }
    }

    .album-info {
        margin-left: 20%;
        display: flex;
        justify-content: space-between;
        width: 20%;

        @media (max-width: 850px) {
            width: 90%;
            margin-left: 5%;
        }
    }

    .album-content-container {
        padding-top: 5%;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 850px) {
            width: 100%
        }

        p {
            font-size: 2.5rem;
            font-family: $main-font;
            width: 50%;
            margin: 2em 12.5%;

            @media (max-width: 850px) {
                width: 90%;
                font-size: 1.5rem;
                margin: 0 auto;
            }
        }

        .album-image {
            width: 38vw;
            padding-bottom: 4vw;

            @media (max-width: 850px) {
                width: 90vw;
                margin: 0 auto;
            }
            
        }

        .miraflores-img-1 {
            height: 50vh;
            margin-bottom: 0;
            margin-left: 12.5%;

            @media (max-width: 850px) {
                height: auto;
                width: 90vw;
                margin-left: 0;
                margin: 0 auto;
            }
        }
    }

    .album-end-message {
        font-size: 4rem;
        font-family: $main-font;
        margin: 0 auto;
        margin-top: 1em;
        width: 100vw;
        text-align: center;
        padding-bottom: 1em;
    }
}