.loading-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: $second-color;
    font-family: $main-font;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100vw;
        margin: 0 auto;
    }

    h2 {
        display: inline;
    }
}