.miraflores-scroll-container {
    width: 100vw;
    margin: 0 auto;

    ul {
        font-size: 2rem;
        list-style-type: none;
        font-weight: bolder;
    }
}

.miraflores-album-title {
    font-size: 5rem;
    margin: 0;
    padding: 1rem;
    margin-left: 10%;
}

.costa-rica-album-title {
    font-size: 5rem;
    margin: 0;
    margin-left: 10%;
    padding: 0 0 2rem 0;
}

.miraflores-album-container {
    width: 80vw;
    margin:  0 auto;
}

.costa-rica-container {
    height: auto;
    padding-bottom: 4rem;
}

.costa-rica-scroll {
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;

    .image-container {
        width: 38vw;
        height: 22.5vw;
        position: relative;
        padding-bottom: 4vw;
    }

    .image-filter {
        height: 100%;
        width: 100%;
        background: $second-color;
        position: absolute;
        top: 0;
    }

    .costa-rica-img {
        transition: 0.3s;
        height: inherit;
        width: 38vw;;
        position: absolute;
        top: 0;
    }  
}

.ecuador-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;

    .ecuador-video-container {
        position: relative;
        width: 100vw;
        display: grid;
        place-items: center;
        margin-top: 10vh;
    
        video {
            width: 100%;
        }
    
        h3 {
            position: absolute;
            margin: 0 auto;
            font-size: 12rem;
            color: $second-color;
        }
    }

    img {
        width: 35vw;
        margin: 0 auto;
        margin-top: 4vw;
    }
}