.archive-scroll-container {
    width: 100%;
    height: auto;
    margin-top: 5em;
    opacity: 0;
    background: white;
    position: relative;
    margin-left: 30vw;

    @media(max-width: 850px) {
        margin-left: 0;
        width: 100%;
        margin-top: 1em;
    }

    .gallery-line {
        width: 100vw;
        height: 2px;
        background-color: $second-color;
        position: absolute;
        top: 50%;
    }


    .gallery-date {
        font-size: 3rem;
        z-index: 0;
        position: absolute;
        top: 15%;

        @media(max-width: 850px) {
            display: none;
        }
    }

    .gallery-container {
        width: auto;
        min-width: 100vw;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        
        @media(max-width: 850px) {
            flex-direction: column;
        }

        .gallery-slide {
            height: 100%;
            min-width: 100%;
            display: flex;
            justify-content: center;

            @media(max-width: 850px) {
                flex-direction: column;
            }
            

            .slide-info {
                display: flex;
                flex-direction: column;

                @media(max-width: 850px) {
                    margin-left: 5%;
                }
            }

            .slide-number {
                border-left: 2px solid $second-color;
                padding: 0.5%;
                height: 100%;
                margin-top: -2%;

                @media(max-width: 850px) {
                    margin-left: 5%;
                }
            }
            
            h3 {
                color: $main-color;
                font-size: 3rem;
                margin-bottom: 0.5rem;
                margin-right: 5vw;
                margin-top: -2%;

                &:hover {
                    cursor: pointer;
                }
            }

            .slide-descriptions {
                background: white;
                max-width: 16vw;
                width: auto;
                z-index: 20;
                position: absolute;
                top: 50%;
                height: fit-content;
                font-size: 1.5rem;
                background: transparent;
                font-family: $main-font;

                @media(max-width: 850px) {
                    position: relative;
                    width: 90vw;
                    max-width: 100%;
                }

                &::after {
                    content: '"';
                }

                &::before {
                    content: '"';
                }
            }

            img {
                width: 30vw;
                z-index: 0;
                transition: 0.4s;
                border: 2px solid $main-color;

                @media(max-width: 850px) {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 4em;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        .end-gallery-slide {
            width: 100vw;
            padding-left: 10vw;

            @media(max-width: 850px) {
                padding: 0;
                margin-top: 2em;
            }

            .start-end-slide-text {
                font-size: 18rem;
                color: $second-color;
                margin: 0;
                margin-top: 0;
                width: 100vw;
                -webkit-text-stroke: $main-color;

                @media(max-width: 850px) {
                    font-size: 8rem;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .end-slide-spacer {
                width: 100vw;
            }
        }
    }
}