nav {
    width: 100vw;
    position: fixed;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    top: 0;
    background: transparent;
    
    h1 {
        font-family: $main-font;
        font-size: 2.5rem;
        color: $main-color;
        user-select: none;
        width: auto;
        margin: 0;
        margin: 0.5rem 1rem;
    }
    
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin-right: 2rem;
        padding: 0rem;
        position: relative;
        z-index: 20;

        li {
            padding: 0.3rem 1.5rem;
            border: 2px solid $main-color;
            border-radius: 20px;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            background: transparent;
            transition: 0.6s;
            height: 1rem;
            position: relative;
            z-index: 21;

            a {
                color: $main-color;
                text-decoration: none;
                font-weight: bold;
                font-size: 0.8rem;
                transition: 0.6s;
                position: relative;
                z-index: 21;
            }

            &:hover {
                cursor: pointer;
                background: linear-gradient(to right, transparent 50%, $main-color 50%);
                background-size: 201% 100%;
                background-position: right bottom;
                transition: all .6s ease-out;

                a {
                    color: $second-color;
                }
            }
        }
    }
}