$main-color: darken(#606c38, 3%);
$second-color: #dbbd4e;

body {
    background: white;
    overflow-x: hidden;
    color: $main-color;
    -webkit-font-smoothing: antialiased;
}

html {
    scrollbar-width: thin;
}
