@import 'base/reset';
@import 'base/layout';
@import 'base/typography';

@import 'components/navbar';
@import 'components/imageGallery';
@import 'components/writings';

@import 'pages/landing';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/albumPages';